/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
   
	body {
	   height: 100%;
	}
	body, #mainpage, body.ui-body-c, body.ui-overlay-c {
		background: none; /* Reset background color */
	}
	.ui-btn-inner {
		padding: .6em 15px;
	}
	/*.inner {
	   max-width: 320px;
	   margin: 0 auto;
	}*/
	
	/* Easy to use classes */
	
	.left {
		float: left;
		display: inline;
	}
	.right {
		float: right;
		display: inline;
	}
		img.left { margin: 5px 20px 10px 0; }
		img.right { margin: 5px 0 10px 20px; }

	.clear {
		clear: both;
	}
	.clearfix {
		display: inline-block;
	} 
		.clearfix:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		html[xmlns] .clearfix {
			display: block;
		}
		* html .clearfix {
			height: 1%;
		}
   
/* =============================================================================
   Links
   ========================================================================== */
   
	a.ui-link,
	a.ui-link:link,
	a.ui-link:visited {
		color: green;
	}
		a.ui-link:hover,
		a.ui-link:visited:hover,
		a.ui-link:active,
		a.ui-link:focus {
			color: lightblue !important;
			text-decoration: underline;
		}
   
/* =============================================================================
   Typography
   ========================================================================== */
   
   /*  Want to use a custom font check out the below websites
	   http://www.fontsquirrel.com
	   http://www.google.com/webfonts/
   */
   
	body {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.9em;
		line-height: 20px;
		color: #727272;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #000;
		margin-bottom: 10px;
	}
		h1 { font-size: 1.5em }
		h2 { font-size: 1.4em }
		h3 { font-size: 1.3em }
		h4 { font-size: 1.2em }
		h5 { font-size: 1.1em }
		h6 { font-size: 1.0em }
	p { }
	blockquote {
		font-style: italic;
	}
	.small {
		font-size: 0.9em
	}
	.big {
		font-size: 1.2em
	}


/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
/*
 * Correct overflow not hidden in IE9
 */
/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
/* =============================================================================
   Tables
   ========================================================================== */
/* ==|== primary styles =====================================================
   Author: Kroma Robin & Eduardo
   ========================================================================== */

/* jQuery Mobile over rides of css
    Here you put the background settings for the pages, like body
*/

/* =============================================================================
   Header
   ========================================================================== */

.header {
	height: 80px;
	text-align: center;
	background: #ce0000;
	clear: both;
}
	.header a {
		display: block;
	}
	.header img.logo {
		margin-top: 15px;
	}
	.header img.logo.small {
		width: 70px;
	}


/* =============================================================================
   Maincontent
   ========================================================================== */

.maincontent {
	text-align: center;
    text-shadow: none;
}
    .maincontent article {
	    padding-top: 5px;
	    padding-bottom: 15px;
    }
    .maincontent article img {
    	max-width: 100%;
    }
    .maincontent article video {
    	width: 100%;
    	max-width: 100%;
    	margin: 0;
    	padding: 0;
    }
    .maincontent iframe {
    	border: 1px solid #333;
    	margin: 0;
    	padding: 0;
    }
 
 
 /* =============================================================================
    Links
    ========================================================================== */
 
.links {
	text-align: center;
	background: #eee;
    overflow: hidden;
}
	.links h1 {
		margin-top: 10px;
	}


/* =============================================================================
   Footer
   ========================================================================== */
   
.footer {
	color: #fff;
	text-align: center;
	text-shadow: none;
	background: #ce0000;
	padding: 0;
}
	.footer footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer footer h1 {
		color: #fff;
	}
	.footer footer nav {
		width: 200px; /* To center a list you have to define width */
		margin: 0 auto;
		overflow: hidden;
	}


/* =============================================================================
   Client specific colors changes
   ========================================================================== */

	#webtraffic .header { background: #eee; border-bottom: 2px solid #f27721; }
	#webtraffic .footer { background: #f27721; }
	#webtraffic .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#aftenposten .header { background: #000; border-bottom: 2px solid #0586a3; }
	#aftenposten .header .logo { margin-top: 18px; }
	#aftenposten .footer { background: #000; }
	#aftenposten .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#e24 { background: #fff4e1; }
	#e24 .header { background: #5b5750; border-bottom: 2px solid #d2c8ba; height: auto; }
	#e24 .header .logo { margin: 18px auto 10px; }
	#e24 .links { background: #d2c8ba; }
	#e24 .footer { background: #5b5750; }
	#e24 .footer h3 { font-size: 18px; font-weight: normal; color: #fff4e1; }
	
	#vg .header { height: 88px; background: #eee; border-bottom: 2px solid #1893cf; }
	#vg .header .logo { margin-top: 18px; }
	#vg .footer { background: #1893cf; }
	#vg .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#finn .header { background: #a3d1f1; border-bottom: 2px solid #00acef; }
	#finn .header .logo { margin-top: 18px; }
	#finn .footer { background: #00acef; }
	#finn .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#dagbladet .header { height: 65px; background: #d60000; }
	#dagbladet .footer { background: #d60000; }
	#dagbladet .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#mittanbud .header { background: #fff; border-bottom: 2px solid #2586c4; }
	#mittanbud .header .logo { margin-top: 18px; }
	#mittanbud .footer { background: #2586c4; }
	#mittanbud .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }
	
	#dinepenger .header { background: #c0170d; border-bottom: 2px solid #034b78; }
	#dinepenger .header .logo { margin-top: 25px; }
	#dinepenger .links { background: #dadfe3; }
	#dinepenger .footer { background: #034b78; }
	#dinepenger .footer h3 { font-size: 18px; font-weight: normal; color: #ffffff; }

/* =============================================================================
   Media quries
   ========================================================================== */
   
/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
    
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { 
    
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
    
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) { 
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { 
    
}
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices
   Portrait ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:portrait), only screen and (-o-min-device-pixel-ratio: 3/2) and (orientation:portrait), only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation:portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation:portrait) {

}
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices
   Landscape ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (-o-min-device-pixel-ratio: 3/2) and (orientation:landscape), only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation:landscape) {

}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print { 
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group }
    /* h5bp.com/t */
    tr, img { page-break-inside: avoid }
    img { max-width: 100% !important }
}