/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* =============================================================================
   Base
   ========================================================================== */
   
	body {
	   height: 100%;
	}
	body, #mainpage, body.ui-body-c, body.ui-overlay-c {
		background: none; /* Reset background color */
	}
	.ui-btn-inner {
		padding: .6em 15px;
	}
	/*.inner {
	   max-width: 320px;
	   margin: 0 auto;
	}*/
	
	/* Easy to use classes */
	
	.left {
		float: left;
		display: inline;
	}
	.right {
		float: right;
		display: inline;
	}
		img.left { margin: 5px 20px 10px 0; }
		img.right { margin: 5px 0 10px 20px; }

	.clear {
		clear: both;
	}
	.clearfix {
		display: inline-block;
	} 
		.clearfix:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		html[xmlns] .clearfix {
			display: block;
		}
		* html .clearfix {
			height: 1%;
		}
   
/* =============================================================================
   Links
   ========================================================================== */
   
	a.ui-link,
	a.ui-link:link,
	a.ui-link:visited {
		color: green;
	}
		a.ui-link:hover,
		a.ui-link:visited:hover,
		a.ui-link:active,
		a.ui-link:focus {
			color: lightblue !important;
			text-decoration: underline;
		}
	a.ui-btn {
		border: none;
		-moz-border-radius: 21px; /* from vector shape */
		-webkit-border-radius: 21px; /* from vector shape */
		border-radius: 21px; /* from vector shape */
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		background-color: #e99100; /* layer fill content */
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5); /* drop shadow */
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5); /* drop shadow */
		box-shadow: 0 1px 2px rgba(0,0,0,.5); /* drop shadow */
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyMjAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjE1ZjI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmE3MTNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=); /* gradient overlay */
		background-image: -moz-linear-gradient(90deg, #722000 0%, #f15f25 49.76%, #fa713b 100%); /* gradient overlay */
		background-image: -o-linear-gradient(90deg, #722000 0%, #f15f25 49.76%, #fa713b 100%); /* gradient overlay */
		background-image: -webkit-linear-gradient(90deg, #722000 0%, #f15f25 49.76%, #fa713b 100%); /* gradient overlay */
		background-image: linear-gradient(90deg, #722000 0%, #f15f25 49.76%, #fa713b 100%); /* gradient overlay */
	}
		a.ui-btn:hover,
		a.ui-btn:visited:hover,
		a.ui-btn:active,
		a.ui-btn:focus {
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMjUlIiB4Mj0iNTAlIiB5Mj0iLTI1JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYTcxM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNWYyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyMjAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
			background-image: -moz-linear-gradient(90deg, #fa713b -25%, #f15f25 50.37%, #722000 125%); /* gradient overlay */
			background-image: -o-linear-gradient(90deg, #fa713b -25%, #f15f25 50.37%, #722000 125%); /* gradient overlay */
			background-image: -webkit-linear-gradient(90deg, #fa713b -25%, #f15f25 50.37%, #722000 125%); /* gradient overlay */
			background-image: linear-gradient(90deg, #fa713b -25%, #f15f25 50.37%, #722000 125%); /* gradient overlay */
			
		}
   
/* =============================================================================
   Typography
   ========================================================================== */
   
   /*  Want to use a custom font check out the below websites
	   http://www.fontsquirrel.com
	   http://www.google.com/webfonts/
   */
   
	body {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.9em;
		line-height: 20px;
		color: #727272;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Arial, sans-serif;
		color: #3fc3f4; /* text color */
		text-shadow: 0 1px 2px rgba(0,0,0,.75); /* drop shadow */
		margin-bottom: 10px;
		font-weight: bold;
	}
		h1 {
			font-family: Arial, sans-serif;
			font-size: 1.3em;
		}
		h2 { font-size: 1.4em }
		h3 { font-size: 1.3em }
		h4 { font-size: 1.2em }
		h5 { font-size: 1.1em }
		h6 { font-size: 1.0em }
	p { line-height: 18px; }
	blockquote {
		font-style: italic;
	}
	.small {
		font-size: 0.9em
	}
	.big {
		font-size: 1.2em
	}


/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
/*
 * Correct overflow not hidden in IE9
 */
/* =============================================================================
   Figures
   ========================================================================== */
/* =============================================================================
   Forms
   ========================================================================== */
/* =============================================================================
   Tables
   ========================================================================== */
/* ==|== primary styles =====================================================
   Author: Kroma Robin & Eduardo
   ========================================================================== */

/* jQuery Mobile over rides of css
    Here you put the background settings for the pages, like body
*/

/* =============================================================================
   Header
   ========================================================================== */

.header {
	height: 50px;
	text-align: center;
	clear: both;
}
	.header a {
		display: block;
	}
	.header img.logo {
		margin-top: 12px;
	}
	.header img.logo.small {
		width: 70px;
	}


/* =============================================================================
   Maincontent
   ========================================================================== */

.maincontent {
	text-align: center;
    text-shadow: none;
}
    .maincontent article {
	    padding-top: 5px;
	    padding-bottom: 5px;
    }
    .maincontent .image {
    	max-height: 120px;
    	border-top: 4px solid #51b0de;
    	border-bottom: 4px solid #51b0de;
    	overflow: hidden;
    	margin: 0;
    	padding: 0;
    }
    .maincontent .image img,
    .maincontent article img {
    	width: 100%;
    	max-width: 100%;
    }
    .maincontent .image img {
    	margin: 0;
    	padding: 0;
    }
    .maincontent article video {
    	width: 100%;
    	max-width: 100%;
    	margin: 0;
    	padding: 0;
    }
    .maincontent .counter {
    	background: #51b0de;
    	padding: 10px 0;
    }
 
 
 /* =============================================================================
    Links
    ========================================================================== */
 
.links {
    padding: 10px 0;
    overflow: hidden;
}
	.links nav {
		width: 290px; /* To center a list you have to define width */
		margin: 0 auto;
		overflow: hidden;
	}


/* =============================================================================
   Footer
   ========================================================================== */
   
.footer {
	text-align: center;
	text-shadow: none;
	background: #51b0de;
	padding: 0;
}
	.footer footer {
		padding-top: 0;
		padding-bottom: 0;
	}
	.footer a {
		color: #ffffff !important;
		text-decoration: none;
	}
	.footer a:hover {
		color: #57b3df;
	}


/* =============================================================================
   Tilbake
   ========================================================================== */
   
.tilbake {
	width: 100%;
	text-align: center;
	text-shadow: none;
	background: #000;
	padding: 0;
}


/* =============================================================================
   Media quries
   ========================================================================== */
   
/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
    
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { 
    
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { 
    
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) { 
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { 
    
}
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices
   Portrait ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:portrait), only screen and (-o-min-device-pixel-ratio: 3/2) and (orientation:portrait), only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation:portrait), only screen and (min-device-pixel-ratio: 1.5) and (orientation:portrait) {
	.maincontent .image img {
		margin-top: -30px;
	}
}
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices
   Landscape ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (-o-min-device-pixel-ratio: 3/2) and (orientation:landscape), only screen and (min--moz-device-pixel-ratio: 1.5) and (orientation:landscape), only screen and (min-device-pixel-ratio: 1.5) and (orientation:landscape) {
	.maincontent .image img {
		margin-top: -100px;
	}
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print { 
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: "" }
    /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group }
    /* h5bp.com/t */
    tr, img { page-break-inside: avoid }
    img { max-width: 100% !important }
}